[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
masteringstocktw = {ref = "1.0.1", git = "ssh://git@github.com/jianhonglindst/MasteringStockTaiwan.git"}

[dev-packages]
apache-airflow = "*"
apache-airflow-providers-docker = "*"
apache-airflow-providers-ssh = "*"

[requires]
python_version = "3.8"
